@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap");

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
.App {
  background-color: #20193b;
  height: 100vh;
  width: 100%;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  color: palevioletred;
  padding: 2.5rem 0 2rem 0;
  text-align: center;
}

.form-container {  
  width: 85%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

input {
    border-radius: 0.2rem;
    border: 2px solid palevioletred;
    width: 100%;
    padding: 0.25em 1em; 
}

.add-new {
    border-radius: 0.2rem;
    border: 2px solid palevioletred;
    background-color: palevioletred;
    color: #20193b;
    margin: 0.4rem 0 0.3rem 0;
    padding: 0.3rem 1rem;
    width: 100%;
    cursor: pointer;
}

.clear-completed {
  border-radius: 0.2rem;
  border: 2px solid palevioletred;
  background-color: palevioletred;
  color: #20193b;
  margin: 0.3rem 0 0 0;
  padding: 0.3rem 1rem;
  width: 100%;
  cursor: pointer;
}

div.error {
  font-family: 'Lato', sans-serif;
  padding: 0.25rem 0;
  font-size: 1rem;
  text-align: center;
  color: #d66464;
}

.list-container {
  width: 80%;
  margin: 0 auto;  
}

ul {
  list-style-type: square;  
}

.todo {
  font-family: 'Lato', sans-serif;
  color: #d66464;
  padding-left: 1rem;
  text-align: left;
  width: fit-content;
  margin: 1.5rem auto;
  font-size: 1.15rem;
}

.todo:hover {
  cursor: pointer;
}

.completed {
  color: #d875757a;
  text-decoration: line-through;
}

.pagination-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.pagination-button {
  border-radius: 0.2rem;
  border: 2px solid palevioletred;
  background-color: palevioletred;
  padding: 0.3rem;
  margin: 0.1rem 0.5rem;
  color: #20193b;
  cursor: pointer;
}

@media (min-width:480px)  { 
  /* smartphones, Android phones, landscape iPhone */ 
  .form-container {  
    width: 60%;
  }

  .list-container {
    width: 60%;
  }


}
@media (min-width:600px)  {
   /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
   .App {
     background-color: #20193b;
   }

   h1 {
     color: palevioletred;
   }

  }
@media (min-width:801px)  {
   /* tablet, landscape iPad, lo-res laptops ands desktops */
  h1 {
    padding-top: 10%;
  }

   .form-container {  
    width: 50%;
  }

  .list-container {
    width: 50%;
  }
   }
@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */ 
  .App {
    background-image: url("./image/sunrise.jpg");
    background-size: cover;
    background-color: #20193b;
    background-repeat: no-repeat;
  }

  h1 {
    padding-top: 15%;
    font-size: 3.5rem;
    color: #f9cbb1;
  }

  .form-container {  
    width: 40%;
  }

  .list-container {
    width: 40%;
  }
}
@media (min-width:1281px) { 
  /* hi-res laptops and desktops */  
  .form-container {  
    width: 30%;
  }

  .list-container {
    width: 30%;
 }
}



